@model DragRacing_Web.Models.Engines

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Engines</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tune)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tune)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Engine_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
